<div class="row images-detail">
  <div class="col-xs-12">

    <h4 *ngIf="cd.viewModel.length > 0">{{config.uploadedHeader}}</h4>

    <div class="upload-container">
      <div class="upload-item" *ngFor="let image of cd.viewModel; let i = index;">
        <div class="image-area">
          <div class="upload-item-overlay">
            <span class="remove-upload" (click)="removeImage(i)">×</span>
          </div>
          <img [src]="image.data" style="max-height: 100px; max-width: 100px;" />
        </div>

        <p class="upload-title">{{image.fileName}}</p>
        <p class="upload-file-size">{{image.size | fileSize:1}}</p>
      </div>
    </div>

    <h4>{{config.addSectionHeader}}</h4>
    <input type="file" #fileUpload style="display: none;" [accept]="config.accepts" (change)="upload(fileUpload.files, fileUpload)" />
    <button class="btn btn-primary" (click)="fileUpload.click();"><i class="fa fa-upload"></i> {{config.buttonLabel}}</button>
    <p *ngIf="config.accepts.indexOf('image/*') === -1"><small>Accepted image formats: {{config.accepts}}</small></p>
  </div>
</div>
