<div style="border-bottom: dashed;border-color:lightgray;margin-bottom: 4px;padding-bottom:12px;">
<h1 >
  {{title}}
</h1>
<p>
  This module uploads images from the device (PC, mobile) to the web-app.<br>
  The image is converted into a base64 string and with the file and image properties 'saved' in the imageObject.
</p>
</div>

<image-upload
              [upload-config]="imageUploadConfig"
               (onError)="onError($event)">
</image-upload>

<div style="border-top: dashed;border-color:lightgray;margin-top: 12px;padding-top:4px;">
  <button (click)="getImages()">get</button>
  <div *ngIf="imageUploadModel.length>0">
    <h4>imageUploadModel</h4>
    <div class="upload-item" *ngFor="let image of imageUploadModel; let i = index;">
      <p class="upload-title">{{image.fileName}}</p>

      <img [src]="image.data" style= "max-height:100px; max-width:100px;" />
    </div>
    <pre>{{imageUploadModel }}</pre>
  </div>
</div>

